{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 50%; max-width: 800px;">
        <div class="card-body">
            <h1 class="pt-3">Verificar Cédula</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="container d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary mt-3">Verificar</button>
                </div>    
            </form>
        </div>
    </div>
</div>
{% endblock %}
