{% extends "base.html" %}
{% block content %}
<div class="container mt-5 mb-5 pt-5">
    <div class="card">
        <div class="card-header">
            <h2>Ver Carrito</h2>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.producto.nombre }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>{{ item.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <form method="post">
                {% csrf_token %}
                {{ item_form.as_p }}
                <a href="{% url 'agregar_producto_carrito' carrito.id %}" class="btn btn-primary">Agregar Producto</a>
                <a href="{% url 'confirmar_venta' %}" class="btn btn-success">Confirmar Venta</a>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#id_producto').change(function() {
        var productoId = $(this).val();
        if (productoId) {
            $.ajax({
                url: '{% url "obtener_producto" 0 %}'.replace('0', productoId),
                method: 'GET',
                success: function(data) {
                    $('#id_precio_unitario').val(data.precio_unitario);
                    $('#id_cantidad').attr('max', data.stock_disponible);
                }
            });
        } else {
            $('#id_precio_unitario').val('');
            $('#id_cantidad').attr('max', '');
        }
    });
});
</script>
{% endblock %}
